//FOOTER 
.footer {
    background-color: $darkGrey;
    padding: 30px 0;
    position: relative;
}

.footerContainer {
    display: flex;
    flex-wrap: wrap;
}

.footerSection {
    margin: 20px;
    flex-basis: calc(33% - 40px);
}

.footerMenu {
    padding: 50px 0;
    flex-basis: 100%;
}

//CONTACT SECTIONS
.contact__list {
    padding-left: 0;
}

.contact__listItem {
    padding: 0;
    display: flex;
    align-items: center;
}

.contact__listIcon {
    color: $textGrey;
    font-size: 1.8rem;
    margin-right: 5px;
}

.footerNav {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footerNav__item {
    text-align: center;
    margin: 10px;
}

.textBlock__content--smallMargin {
    margin: 5px;
}

//FOOTER FORM
.footerForm {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: solid 0.5px white;
    margin-top: 10px;
}

.email {
    width: 100%;
    padding: 8px;
    background-color: $darkGrey;  
    color: white;
    font-family: $serifFont;
    font-size: 1.2rem;
    border: none;
}

.emailSubmit {
    background-color: $darkGrey;
    background-image: url(../assets/plane.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 8px;
    border: none;
}

//INSTAGRAM
.instagram__gallery {
    display: flex;
    flex-wrap: wrap;
}

.instagram__galleryImage {
    margin: 3px;
    flex: 0 1 49px;
    transition: all 0.3s;
    &:hover {
        transform: scale(2);
    }
}

// COPYRIGHT
.footerCopyright {
    flex-basis: 100%;
    text-align: center;
}

//SOCIAL 
.footerSocial {
    color: $textGrey;
    font-size: 2.5rem;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 15px;
    top: calc(50% - 50px);
}

.footerSocial__link {
    color: inherit;
    transition: all 0.3s;
    &:hover {
        font-size: 3.5rem;
        color: white;
    }
}

@media (max-width: 690px) {
    .footerSection__contact,
    .footerSection__aboutFooter {
        flex-basis: calc(50% - 40px);
        padding-top: 20px;
    }

    .footerSection__instagram {
        flex-basis: calc(100% - 20px);
    }

    .subheading--centerAlign {
        text-align: center;
    }

    .instagram__gallery {
        justify-content: space-around;
    }

    .footerSocial {
        flex-direction: row;
        width: 100px;
        top: 20px;
        left: calc(50% - 50px);
    }

}

@media (max-width: 560px) {
    .instagram__gallery {
        width: 80%;
        margin: 0 auto;
    }

    .instagram__galleryImage {
        margin: 10px;
        flex-basis: calc(25% - 20px);
    }
}

@media (max-width: 450px) {

    .footerSection {
        flex-basis: 100%;
        text-align: center;
    }

    .contact__listItem--centered {
        justify-content: center;
    }

    .footerNav__item {
        flex-basis: 100%;
    }

    .footerSection__instagram {
        display: none;
    }

}
