// HEADER
.header {
    background-image: url(../assets/image-1.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 15%;
    margin-top: 20px;
}

.checkbox--visuallyHidden {
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height: 1px; width: 1px; 
	margin: -1px; padding: 0; border: 0; 
}

.hamburger {
    color: white;
    font-size: 3rem;
    margin: 0 auto;
    display: none;
}

.navBar {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

.navBar__item {
    list-style-type: none;
    padding: 0 10px;
}

.navBar__link {
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.welcomeMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.button {
    border: none;
    background-color: darkslategray;
    border-radius: 40px;
    display: inline;
    width: 20rem;
}

@media (max-width: 880px) {
    .wrapper {
        width: 95%;
        margin: 0 auto;
    }

    .logo,
    .navBar {
        flex-basis: 100%;
    }

    .welcomeMessage {
        text-align: center;
    }

    .subheading--centerAlign {
        text-align: center;
    }

    .button {
        margin: 0 auto;
    }

}

@media (max-width: 600px) {
    .header {
        background-image: none;
        background-color: black;
        height: 100%;
    }

    .nav {
        flex-direction: column;
        text-align: center;
    }

    .welcomeMessage {
        display: none;
    }

    .navBar {
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        transition: all 0.7s ease;
    }

    .hamburger {
        display: block;
    }

    .checkbox--visuallyHidden:checked + .navBar {
        max-height: 200px;
    }
}