// STATS
.statsContainer {
    @include flex(flex, wrap);
}

.statsListContainer {
    display: none; 
}

.stats {
    background-color: $yellow;
    padding-top: 50px;
}

.stat {
    flex-basis: 25%;
    text-align: center;
}

.stat__icon {
    font-size: 4rem;
}

.stat__number {
    font-size: 2.8rem;
    margin: 0;
}

.stat__fact {
    font-family: $serifFont;
    font-size: 2.4rem;
    margin: 0;
}

//BLOG 
.blogPostContainer {
    @include flex(flex, wrap);
    justify-content: space-between;
}

.blogPost {
    flex-basis: calc(33.33% - 10px);
    padding-bottom: 10px;
    position: relative;
}

.blogPost__title {
    font-size: 2rem;
    font-weight: 600;
}

.blogPost__link {
    @include fontVariables (1.4, 600, uppercase);
    text-decoration: none;
    color: $buttonRed; 
    transition: all 0.3s;
    &:hover {
        font-weight: 800;
        letter-spacing: 1.5px;
    }
    &:hover + .redUnderline {
        width: 60%;
    }
    &::after {
        content: " >>";
    }
}

.redUnderline {
    width: 0px;
    display: block;
    height: 2px;
    background-color: $buttonRed;
    bottom: 0;
    position: absolute;
    transition: all 0.3s;
}

@media (max-width: 1000px) {

    .statsContainer {
        display: none;
    }

    .statsListContainer {
        display: block; 
        text-align: center;
    }

    .statsList {
        list-style: none;
        padding-left: 0;
    }

    .statsList__item {
        @include flex(flex, nowrap);
        justify-content: center;
        align-items: center;
        padding: 10px 0;
    }

    .stat__fact {
        font-family: $baseFont;
        font-size: 2.5rem;
        text-transform: uppercase;
        padding-left: 10px;
    }

    .stat__icon {
        font-size: 2rem;
    }
}

@media (max-width: 650px) {
    .blogPost {
        flex-basis: 100%;
        padding: 10px 60px;
    }
}


@media (max-width: 500px) {
    .blogPost {
        flex-basis: 100%;
        padding: 10px 0;
    }
}

