// MIXINS AND VARIABLES
$baseFont: 'Raleway', sans-serif;
$serifFont: 'Lora', serif;
$yellow: #e5bf4b;
$darkGrey: #2a2a2a;
$buttonRed: #da331d;
$textGrey: #d2cfcf;

@mixin fontVariables($fontSize, $fontWeight, $textTransform) {
    font-size: $fontSize * 1rem;
    font-weight: $fontWeight;
    text-transform: $textTransform;
}

@mixin flex($flex, $wrap) {
    display: $flex;
    flex-wrap: $wrap;
}

html {
    font-size: 45%;
    font-family: $baseFont;
    color: $darkGrey;
    font-weight: 400;
}

img {
    display: block;
    width: 100%;
}

section {
    padding-bottom: 50px;
}

.wrapper {
    width: 70%;
    height: 100%;
    max-width: 900px;
    margin: 0 auto;
}

// h1 
.heading {
    @include fontVariables(5.8, 600, uppercase);
    color: white;
    margin: 0;
    line-height: 1;
}

// h2
.sectionHeading {
    @include fontVariables(4, 600, uppercase);
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 50px 0;
}

.sectionHeading--white {
    color: white;
}

.sectionHeading--noPadding {
    padding: 0;
}

// h3 
.subheading {
    @include fontVariables(2.4, 600, uppercase);
    text-align: center;
    margin: 20px 0;
}

.subheading--white {
    color: white;
}

.subheading--leftAlign {
    text-align: left;
}

.button {
    border: none;
    background-color: $buttonRed;
    border-radius: 40px;
    display: inline;
    width: 20rem;
    transition: all 0.4s;
    border: solid 2px $buttonRed;
    &:hover {
        border: solid 2px $darkGrey;
        box-shadow: inset 0px 0px 10px 1px #c02713;
        & > .button__text {
            font-weight: 600;
            letter-spacing: 2px;
        }  
    }
}

.button--grey {
    background-color: $darkGrey;
    border: solid 2px $darkGrey;
    &:hover {
        border: solid 2px white;
        box-shadow: inset 0px 0px 12px 1px black;
        & > .button__text {
            font-weight: 600;
            letter-spacing: 2px;
        } 
    }
}

.button--whiteBorder:hover {
    border: solid 2px white;
    box-shadow: inset 0px 0px 10px 1px #c02713;
}


// h4
.button__text {
    @include fontVariables(2, 400, uppercase);
    padding: 1rem 3rem;
    margin: 0;
    color: white;
    transition: all 0.4s;
}

.textBlock {
    text-align: center;
    padding: 0px 35px;
    line-height: 1.5;
}

// p
.textBlock__content{
    font-family: $serifFont;
    font-size: 2.4rem;
    line-height: 1.5;
}

// p
.textBlock__content--small {
    font-family: $serifFont;
    font-size: 1.8rem;
    line-height: 1.5;
}

// p
.textBlock__content--white {
    color: white;
}

.textBlock__content--grey {
    color: $textGrey;
}

// p 
.copyrightText {
    @include fontVariables(1.6, 600, uppercase);
    color: white;
}









