$baseFont: 'Raleway', sans-serif;
$serifFont: 'Lora', serif;

html {
    font-size: 62.5%;
    font-family: $baseFont;
}

img {
    display: block;
    width: 100%;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.wrapper--flexed {
    display: flex;
    flex-wrap: wrap;
}

section {
    padding-top: 100px;
}

// h1 
.heading {
    font-size: 5.8rem;
    text-transform: uppercase;
    color: white;
    margin: 0;
}

// h2
.sectionHeading {
    font-size: 4rem;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    width: 100%;
}

.sectionHeading--white {
    color: white;
}

// h3 
.subheading {
    font-size: 2.6rem;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}

.subheading--white {
    color: white;
}

.subheading--leftAlign {
    text-align: left;
}

// h4
.button__text {
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem 3rem;
    margin: 0;
    color: white;
}

// p
.textBlock__content{
    font-family: $serifFont;
    font-size: 2.4rem;
}

// p
.textBlock__content--small {
    font-family: $serifFont;
    font-size: 1.8rem;
}

// HEADER
.header {
    background-image: url(../assets/image-1.jpeg);
    background-size: cover;
    height: 100vh;
}

.header__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-basis: 15%;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.navBar {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

.navBar__item {
    list-style-type: none;
}

.navBar__link {
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.nav {
    display: flex;
}

.button {
    border: none;
    background-color: darkslategray;
    border-radius: 40px;
    display: inline;
    width: 20rem;
}

// IDENTITY 

.identityGallery,
.identityInfo {
    flex-basis: 50%;
}

.textBlock {
    text-align: center;
}

.identityGallery {
    display: flex;
    flex-wrap: wrap;
}

.identityItem {
    text-align: center;
    flex-basis: 50%;
}

// SERVICES

.serviceType {
    display: flex;
    flex-wrap: wrap;
}

.textBlock--float,
.serviceType__image {
    flex-basis: 50%;
}

.serviceType--second {
    flex-direction: row-reverse;
}

// EVENTS

.sampleEvent {
    display: flex;
    flex-wrap: wrap;
}

.sampleEvent__panel {
    flex-basis: 33.33%;
}

.sampleEvent__img {
    height: 100%;
}








