article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 0.5px #B03060; }

html {
  font-size: 55%;
  font-family: "Raleway", sans-serif; }

img {
  display: block;
  width: 100%; }

.wrapper {
  width: 80%;
  margin: 0 auto;
  height: 100%; }

section {
  padding-top: 50px;
  padding-bottom: 50px; }

.heading {
  font-size: 5.8rem;
  text-transform: uppercase;
  color: white;
  margin: 0; }

.sectionHeading {
  font-size: 4rem;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  width: 100%; }

.sectionHeading--white {
  color: white; }

.subheading {
  font-size: 2.6rem;
  text-transform: uppercase;
  margin: 0;
  text-align: center; }

.subheading--white {
  color: white; }

.subheading--leftAlign {
  text-align: left; }

.button__text {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1rem 3rem;
  margin: 0;
  color: white; }

.textBlock {
  text-align: center;
  padding: 30px; }

.textBlock__content {
  font-family: "Lora", serif;
  font-size: 2.4rem; }

.textBlock__content--small {
  font-family: "Lora", serif;
  font-size: 1.8rem; }

.header {
  background-image: url(../assets/image-1.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh; }

.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-preferred-size: 15%;
  flex-basis: 15%;
  margin-top: 20px; }

.checkbox--visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.hamburger {
  color: white;
  font-size: 3rem;
  margin: 0 auto;
  display: none; }

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 0; }

.navBar__item {
  list-style-type: none;
  padding: 0 10px; }

.navBar__link {
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white; }

.welcomeMessage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%; }

.button {
  border: none;
  background-color: darkslategray;
  border-radius: 40px;
  display: inline;
  width: 20rem; }

@media (max-width: 880px) {
  .wrapper {
    width: 95%;
    margin: 0 auto; }
  .logo,
  .navBar {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  .welcomeMessage {
    text-align: center; }
  .subheading--centerAlign {
    text-align: center; }
  .button {
    margin: 0 auto; } }

@media (max-width: 600px) {
  .header {
    background-image: none;
    background-color: black;
    height: 100%; }
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center; }
  .welcomeMessage {
    display: none; }
  .navBar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease; }
  .hamburger {
    display: block; }
  .checkbox--visuallyHidden:checked + .navBar {
    max-height: 200px; } }

.identityContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.identityGallery,
.identityInfo {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }

.identityGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.identityItem {
  text-align: center;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  padding: 25px; }

.identityItem__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.welcome {
  background-color: lightgrey; }

.serviceType {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.textBlock--float,
.serviceType__image {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }

.serviceType--second {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

@media (max-width: 975px) {
  .identityGallery,
  .identityInfo {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  .identityItem {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100px;
    flex: 1 1 100px;
    padding: 10px; } }

@media (max-width: 736px) {
  .identityGallery {
    display: none; }
  .sectionHeading--displayNone {
    display: none; }
  .serviceType__image,
  .textBlock--float {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; } }

.sampleEvent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.sampleEvent__panel {
  -ms-flex-preferred-size: 33.33%;
  flex-basis: 33.33%; }

.sampleEvent__img {
  height: 100%; }

.ask {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.ask__form {
  -ms-flex-preferred-size: 600px;
  flex-basis: 600px;
  margin: 0 10px; }

#message {
  font-family: "Lora", serif;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  border: 0;
  border-bottom: solid 1px grey; }

@media (max-width: 900px) {
  .sampleEvent__panel {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding: 30px; } }

@media (max-width: 500px) {
  .sampleEvent__panel {
    padding: 0px; } }

.statsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.statsListContainer {
  display: none; }

.stats {
  background-color: lightgrey; }

.stat {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  text-align: center; }

.stat__icon {
  font-size: 4rem; }

.stat__number {
  font-size: 2.8rem;
  margin: 0; }

.stat__fact {
  font-family: "Lora", serif;
  font-size: 2.4rem;
  margin: 0; }

.blogPostContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.blogPost {
  -ms-flex-preferred-size: calc(33.33% - 10px);
  flex-basis: calc(33.33% - 10px); }

.textBlock__content--hidden {
  float: left;
  width: 50%;
  padding-left: 10px; }

.blogPost__title {
  font-size: 2rem; }

.blogPost__link {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit; }

.blogPost__link::after {
  content: " >>"; }

@media (max-width: 1000px) {
  .statsContainer {
    display: none; }
  .statsListContainer {
    display: block;
    text-align: center; }
  .statsList {
    list-style: none;
    padding-left: 0; }
  .statsList__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .stat__fact {
    font-family: "Raleway", sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding-left: 10px; }
  .stat__icon {
    font-size: 2rem; }
  .blogPost {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin: 10px 0; }
  .blogPost__image {
    width: 50%;
    float: left; }
  .blogPost__title,
  .blogPost__link {
    width: 50%;
    float: left;
    padding-left: 10px; }
  .blogPost__image--floatRight {
    float: right; }
  .blogPost__title--floatRight,
  .blogPost__link--floatRight {
    float: right;
    width: 50%;
    text-align: right;
    padding-right: 10px; }
  .textBlock--content--hidden {
    padding-left: 10px;
    display: block; } }

.footer {
  height: 250px;
  background-color: darkslategrey; }
